.carousel-container {
  width: 50%;
  margin: 0 auto;
  
}

.slick-slide img {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 100%;
}

.slick-dots li button:before {
  color: #007bff; /* Change dot color */
}

.slick-prev:before,
.slick-next:before {
  color: #007bff; /* Change arrow color */
}
