.cx-main{
    min-height: 100vh;
    
}

.inputes{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  
}

.inputess{
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
